#Introduction to Scikit Learn

This covers:
0. An end-to-end sk learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our data
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluate the model
5. Improve the model
6. Save and reload a trained model
7. Put it all together!

#0. An end-to-end sk learn workflow#

1. Get the data ready

In [ ]:
import pandas as pd
heart_disease=pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
#create X(feature matrix)
x=heart_disease.drop("target",axis=1)

#create Y(label)
y=heart_disease["target"]

2. Choose the right model and hyperparameters

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

#for default parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

3. Fit the model to our data

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [ ]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
#making prediction

y_preds=clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0])

4. Evaluate the model on traing and test data

In [ ]:
clf.score(x_train,y_train)

1.0

In [ ]:
clf.score(x_test, y_test)

0.8524590163934426

In [ ]:
import sklearn
sklearn.show_versions()

System:
    python: 3.7.14 (default, Sep  8 2022, 00:06:44)  [GCC 7.5.0]
executable: /usr/bin/python3
   machine: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic

Python dependencies:
          pip: 21.1.3
   setuptools: 57.4.0
      sklearn: 1.0.2
        numpy: 1.21.6
        scipy: 1.7.3
       Cython: 0.29.32
       pandas: 1.3.5
   matplotlib: 3.2.2
       joblib: 1.1.0
threadpoolctl: 3.1.0

Built with OpenMP: True

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.96      0.73      0.83        30
           1       0.79      0.97      0.87        31

    accuracy                           0.85        61
   macro avg       0.87      0.85      0.85        61
weighted avg       0.87      0.85      0.85        61

In [ ]:
confusion_matrix(y_test, y_preds)

array([[22,  8],
       [ 1, 30]])

In [ ]:
accuracy_score(y_test, y_preds)

0.8524590163934426

5. Improve a model

In [ ]:
#try different amount of n_estimators
for i in range(10,100,10):
  print(f"trying with estimator {i}: ")
  clf=RandomForestClassifier(n_estimators=i)
  clf.fit(x_train,y_train)
  print(f"Model accuracy on test set: {clf.score(x_test,y_test)*100:.2f}%")
  print("")

trying with estimator 10:
Model accuracy on test set: 80.33%

trying with estimator 20:
Model accuracy on test set: 80.33%

trying with estimator 30:
Model accuracy on test set: 80.33%

trying with estimator 40:
Model accuracy on test set: 80.33%

trying with estimator 50:
Model accuracy on test set: 81.97%

trying with estimator 60:
Model accuracy on test set: 81.97%

trying with estimator 70:
Model accuracy on test set: 83.61%

trying with estimator 80:
Model accuracy on test set: 83.61%

trying with estimator 90:
Model accuracy on test set: 83.61%

6. Save a model and reload it

In [ ]:
import pickle

pickle.dump(clf, open("random_forest_model.pkl", "wb"))

In [ ]:
loaded_model=pickle.load(open("random_forest_model.pkl", "rb"))
loaded_model.score(x_test,y_test)

0.8360655737704918